experiments/
arch_experiments/
results/
.vscode/
neuron_concepts/
notebooks/fig
.DS_Store
__pycache__/
*.py[cod]
data/trials/
saved_activations/
*.egg-info/
venv/
config/
ref.md
net-dissect/dataset

# Ignore any folder or file path containing “_color”
# ignore any directory whose name contains "_color" under synthetic_dataset
**/synthetic_dataset/*_color*/**
